@{
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <link href="~/CSS/Index.css" rel="stylesheet" />
    <script type="text/javascript">
        let userName = '@ViewBag.UserName';
    </script>
    <title>Olga</title>
</head>

<body>
    <div class="spinner"><span></span></div>
    <div class="mc-content">
        <div class="container" tabindex="-1" id="postSentMessage">
            <div id="confirmationMessage"></div>
            <div class="confirmation">
                <button type="button" class="btn-send" onclick="done()">Send</button>
            </div>
        </div>
        <div class="cont" id="initialPost">
            <div class="mc">
                <div class="">
                    <div class="question">Configure Olga to capture my...</div>
                    <div class="custom-in">
                        <select placeholder="Capture my Focus, Energy & Confidence levels" style="width: 100%" class="form-control js-example-tags question-length" id="questions" onchange="getSelectedOption(this)">
                        </select>
                        <span class="sel-chev"></span>
                    </div>
                    <div class="privacy">Privacy</div>
                    <div class="input-group custom-in ">
                        <select class="cs htmlEle js-example-tags" id="privacy" style="width: 100%" data-minimum-results-for-search="Infinity" onchange="setPrivacy()">
                            <option value="Personal – Only you can see your mood data." selected>Personal – Only you can see your mood data.</option>
                            <option value="Inner Circle – People you have added to your inner circle can view">Inner Circle – People you have added to your inner circle can view</option>
                            <option value="Manager & Colleagues - Your manager and colleagues can view">Manager & Colleagues - Your manager and colleagues can view</option>
                        </select>
                        <span class="sel-chev3"></span>
                    </div>
                    <div class="post">
                        <div class="row custom-rw">
                            <div class="col-6 custom-col">
                                <div class="card day">
                                    <div class="card-body">
                                        <div class="recurrence">Recurrence</div>
                                        <div class="repeat">
                                            <div class="re">Repeat every</div>
                                            <div class="sel-day">
                                                <input name="number" value="1" class="number" type="text" pattern="\d*" maxlength="2" id="number" />
                                            </div>
                                            <div class="sel-day-day">
                                                <select name="day" class="day-drp" id="dwm" value="day">
                                                    <option value="day">Day</option>
                                                    <option value="week">Week</option>
                                                    <option value="month">Month</option>
                                                </select>
                                                <span class="down-chev"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 custom-col">
                                        <div class="blk-head">Time</div>
                                        <div class="selc">
                                            <select class="cs htmlEle js-example-basic-single" style="width: 100%" name="state" id="exectime">
                                                <option value="Send now" id="sendnow" selected>Send now</option>
                                            </select>
                                            <span class="sel-chev2"></span>
                                        </div>
                                    </div>
                                    <div class="col-6 custom-col">
                                        <div class="blk-head rec">Frequency</div>
                                        <div class="selc">
                                            <select class="cs htmlEle js-example-tags" id="recurrence" data-minimum-results-for-search="Infinity" style="width: 100%">
                                                <option value="Does not repeat" class="recurrenceoption">Does not repeat </option>
                                                <option value="Every weekday" selected class="recurrenceoption">Every weekday (Mon-Fri)</option>
                                                <option value="Daily" class="recurrenceoption">Daily</option>
                                                <option value="Weekly" class="recurrenceoption">Weekly</option>
                                                <option value="Monthly" class="recurrenceoption">Monthly</option>
                                                <option value="Custom" class="recurrenceoption">Custom</option>
                                            </select>
                                            <span class="sel-chev2"></span>
                                        </div>
                                        <div id="customdata"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="prev">Preview</div>
                    <div class="br-blk">
                        <div class="created"><img src="~/Images/iconCreator.png" class="previewimg" />Created by<span id="usertext"></span></div>
                        <div class="reflections"><img src="~/Images/iconPrivacy.png" class="previewimg" /> <span id="privacytext">  </span></div>
                        <div class="feeling" id="selectedTxt"></div>
                        <div class="moods">
                            <div class="moods">
                                <span class="mood">
                                    Focus:
                                </span>
                                <span>
                                    <button class="btn-great" data-dismiss="modal" onclick="closeTaskModule()" tabindex="0">Grounded</button>
                                </span>
                                <span>
                                    <button class="btn-good" data-dismiss="modal" onclick="closeTaskModule()" tabindex="0">Aware</button>
                                </span>
                                <span>
                                    <button class="btn-meh" data-dismiss="modal" onclick="closeTaskModule()" tabindex="0">Out of it</button>
                                </span>
                                <span>
                                    <button class="btn-blegh" data-dismiss="modal" onclick="closeTaskModule()" tabindex="0">Disconnected</button>
                                </span>
                            </div>
                            <div class="moods">
                                <span class="mood">
                                    Energy:
                                </span>
                                <span>
                                    <button class="btn-great" data-dismiss="modal" onclick="closeTaskModule()" tabindex="0">Overflowing</button>
                                </span>
                                <span>
                                    <button class="btn-good" data-dismiss="modal" onclick="closeTaskModule()" tabindex="0">Alright</button>
                                </span>
                                <span>
                                    <button class="btn-meh" data-dismiss="modal" onclick="closeTaskModule()" tabindex="0">Hanging On</button>
                                </span>
                                <span>
                                    <button class="btn-blegh" data-dismiss="modal" onclick="closeTaskModule()" tabindex="0">Drained</button>
                                </span>
                            </div>
                            <div class="moods">
                                <span class="mood">
                                    Confidence:
                                </span>
                                <span>
                                    <button class="btn-great" data-dismiss="modal" onclick="closeTaskModule()" tabindex="0">Crushing It!</button>
                                </span>
                                <span>
                                    <button class="btn-good" data-dismiss="modal" onclick="closeTaskModule()" tabindex="0">Ok</button>
                                </span>
                                <span>
                                    <button class="btn-meh" data-dismiss="modal" onclick="closeTaskModule()" tabindex="0">Managing</button>
                                </span>
                                <span>
                                    <button class="btn-blegh" data-dismiss="modal" onclick="closeTaskModule()" tabindex="0">Overwhelmed</button>
                                </span>
                            </div>
                        </div>
                </div>
                <div class="mf modal-footer" tabindex="-1">
                    <span class="clk"></span>
                    <span class="manage" onclick="openTaskModule()" tabindex="0">Scheduled reflections <span id="recurssionscount"></span> </span>
                    <div class="float-right" tabindex="-1">
                        <button type="button" class="btn-cancle" data-dismiss="modal" onclick="closeTaskModule()" tabindex="0">Close</button>
                        <button type="button" class="btn-send" onclick="SendAdaptiveCard()" tabindex="0">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="@("https://unpkg.com/@microsoft/teams-js@1.4.1/dist/MicrosoftTeams.min.js")"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script src="~/Scripts/Index.js"></script>
    <script src="~/Scripts/timevalues.js"></script>
</body>
</html>